body{
  background-color: black;
}
.home{
  width:60vw;
  margin: auto;
  margin-top: 1rem;
  color: white;
  font-family: monospace;
  font-size: 18px;
}
.grid-parent{
  margin-top: 10em;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 210px));
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
  justify-self: center;
  justify-items: center;
}

.grid-item{
  background-color: #121217;
}
.skill{
  max-width: 200px;
  max-height: 200px;
  margin: auto;

}

a{
  color: white;
  text-decoration: none;
}

a:visited{
  color: white;
}