body{
    background-color: #000000;
    color: white;
    font-size: 17px;
    font-family: monospace;
}
#about-me{
    color: white;
    max-width: 1200px;
    min-width: 60vw;
    padding-top: 5rem;
}

.name,#greet{
    color: white;
    font-size: 30px;
    font-family: monospace;
}

#greet{
    font-size: 27px; 
    height: 1.5em;
}
.text{
    color: white;
    border-right: 3px solid rgb(62, 216, 255);
    font-size: 30px;
    font-family: monospace;
    color: #008fff;
    /* color: rgb(62, 216, 255); */
}

.about-long{
    width: 60vw;
}

.reach{
    width: 60vw;
    margin-top: 2em;
}

a{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
}

@media only screen and (max-width: 600px) {
  #about-me{
    width: 50vw;
    margin: auto;
  }
  
  .text, .name, #greet{
    font-size: 15px;
  }

  
}